<div class="scaleWrap">
  <form action="">
    <div class="wrapper">
      <div class="options">
        <div class="option">
        <input type="radio" name="likert" value="1" class="multipleChoise">
        <span class="optionLabel">1</span>
        </div>
        <div class="option">
        <input type="radio" name="likert" value="2" class="multipleChoise">
        <span class="optionLabel">2</span>
        </div>
        <div class="option">
        <input type="radio" name="likert" value="3" class="multipleChoise">
        <span class="optionLabel">3</span>
        </div>
        <div class="option">
        <input type="radio" name="likert" value="4" class="multipleChoise">
        <span class="optionLabel">4</span>
        </div>
        <div class="option">
        <input type="radio" name="likert" value="5" class="multipleChoise">
        <span class="optionLabel">5</span>
        </div>
      </div>
    </div>
  </form>
</div>
