<div class="scaleWrap">
    <div class="wrapper">
      <div class="options">

        <div class="option">
        <input type="radio" value="1" class="multipleChoise">
        <span class="optionLabel">1</span>
        </div>
        <div class="option">
        <input type="radio" value="2" class="multipleChoise">
        <span class="optionLabel">2</span>
        </div>
        <div class="option">
        <input type="radio" value="3" class="multipleChoise">
        <span class="optionLabel">3</span>
        </div>
        <div class="option">
        <input type="radio" value="4" class="multipleChoise">
        <span class="optionLabel">4</span>
        </div>
        <div class="option">
        <input type="radio" value="5" class="multipleChoise">
        <span class="optionLabel">5</span>
        </div>
      </div>
    </div>
</div>
