<form>
<div class="scaleWrap">
    <div class="wrapper">
      <div class="options">
        <div class="option">
        <% if input == '1' %>
            <input type="radio" value="1" name="choice1" class="multipleChoise" checked>
        <% else %>
            <input type="radio" value="1" name="choice1" class="multipleChoise">
        <% end %>
        <span class="optionLabel">1</span>
        </div>
        <div class="option">
        <% if input == '2' %>
            <input type="radio" value="2" name="choice1" class="multipleChoise" checked>
        <% else %>
            <input type="radio" value="2" name="choice1" class="multipleChoise" >
        <% end %>
        <span class="optionLabel">2</span>
        </div>
        <div class="option">
        <% if input == '3' %>
            <input type="radio" value="3" name="choice1" class="multipleChoise" checked>
        <% else %>
            <input type="radio" value="3" name="choice1" class="multipleChoise">
        <% end %>
        <span class="optionLabel">3</span>
        </div>
        <div class="option">
        <% if input == '4' %>
        <input type="radio" value="4" name="choice1" class="multipleChoise" checked>
        <% else %>
        <input type="radio" value="4" name="choice1" class="multipleChoise">
        <% end %>
        <span class="optionLabel">4</span>
        </div>
        <div class="option">
        <% if input == '5' %>
        <input type="radio" value="5" name="choice1" class="multipleChoise" checked>
        <%else%>
        <input type="radio" value="5" name="choice1" class="multipleChoise">
        <% end %>
        <span class="optionLabel">5</span>
        </div>
      </div>
    </div>
</div>
</form>
