
<div class="other-users">
<% user[:users].each do |user| %>
<a href="/users/<%=user.id%>" class="project-square">
  <%if not user.image? %>
     <img class='img-circle img-responsive' src="/images/placeholder-user.png" >
  <% else %>
    <img class='img-circle img-responsive' src="<%= user.image %>" >
  <% end %>
<h5 id="project-name"> <%= user.name %></h5>
<% if (user.skill1 or user.skill2)%>
	<div class="small-badge">
		<img src="/images/preparacioÌn.png">
	</div>
	<div class="badge-left">
		<img src="/images/responsabilidad.png">
	</div>
<%end%>
</a>
<% end %>
</div>