<div class="home">
	<% if current_user.admin?%>
	<a class="action" href="/evaluate">
		 <div class="teacher"></div>
		 <div>Evaluar Un Profesor</div>
	</a>
	<a class="action" href="/questions">
		 <div class="question"></div>
		 <div>Banco de preguntas</div>
	</a>
	<a class="action" href="/survey_schemas">
		<div class="form"></div>
		<div>Pautas de Evaluación</div>
	</a>
	<%end%>

</div>
