<div class="home">
	<a class="action" href="google.cl">
		 <div class="actionTitle"><h1>Evaluar Un Profesor</h1></div>
	</a>
	<a class="action" href="google.cl">
		 <div class="actionTitle"><h1>Ver Estadísticas</h1></div>
	</a>
	<a class="action" href="google.cl">
		 <h1>Otra Acción</h1>
	</a>

</div>