
	<% if current_user.UTP?%>
	<a class="action" href="/questions">
		 <div class="question"></div>
		 <div>Banco de preguntas</div>
	</a>
	<a class="action" href="/evaluate">
		 <div class="teacher"></div>
		 <div>Evaluar Un Profesor</div>
	</a>

	<a class="action" href="/survey_schemas">
		<div class="form"></div>
		<div>Pautas de Evaluación</div>
	</a>
	<%elsif current_user.admin?%>
	<a class="action" href="/users/sign_up">
		 <div class="new_user"></div>
		 <div>Nuevo usuario</div>
	</a>
	<a class="action" href="/home/change_rol">
		 <div class="change_role"></div>
		 <div>Cambiar Rol usuario</div>
	</a>

	<%else %>
	<div class="profile-banner">
		<div class="img-container">
		    <%if not current_user.image? %>
		       <img class='img-circle img-responsive' src="/images/placeholder-user.png" >
		    <% else %>
		      <img class='img-circle img-responsive' src="<%= current_user.image %>" >
		    <% end %>
		</div>
		<div class="data">
			<div class="name">
				<%= current_user.name %>
			</div>
			<div class="cicle">
				<%= current_user.cycle %>
			</div>
			<div class="profile-skills">
			    <% if @final_skills%>

	                <% if (@final_skills[0][0].to_s == "Enseñanza") or (@final_skills[1][0].to_s == "Enseñanza") %>
	                  <img class="badgee" src="/images/enseñanza.png">
	                <%end%>
	                <% if (@final_skills[0][0].to_s == "Preparación") or (@final_skills[1][0].to_s == "Preparación") %>
	                  <img class="badgee" src="/images/preparación.png">
	                <%end%>
	                <% if (@final_skills[0][0].to_s == "Buen ambiente") or (@final_skills[1][0].to_s == "Buen ambiente") %>
	                  <img class="badgee" src="/images/ambiente.png">
	                <%end%>
	                <% if (@final_skills[0][0].to_s == "Responsabilidad") or (@final_skills[1][0].to_s == "Responsabilidad")%>
	                  <img class="badgee" src="/images/responsabilidad.png">
	                <%end%>
                <%else%>
                 	<div class="noevaluation">No se presentan evaluaciones actualmente para el profesor.</div>

                <%end%>
            </div>
		</div>
		<div class="action-buttons">
			<div class="blank-space"></div>
			<a href="/users" class="link-button">Profesores</a>
			<a href="/user_evaluations" class="link-button"> Ver mis evaluaciones</a>
		</div>
	</div>
	<div class="projects-index">
	  <%= render partial: '/users/user', :object =>{:users => User.where(role:'user').shuffle.last(7)} %>
	</div>

	<%end%>
