<div class="home">
	<a class="action" href="/evaluate">
		 <div class="actionTitle"><h1>Evaluar Un Profesor</h1></div>
	</a>
	<a class="action" href="/questions">
		 <div class="actionTitle"><h1>Banco de preguntas</h1></div>
	</a>
	<a class="action" href="/survey_schemas">
		 <h1>Pautas de Evaluación</h1>
	</a>

</div>
