<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @survey_schema.title %>
</p>

<%= link_to 'Edit', edit_survey_schema_path(@survey_schema) %> |
<%= link_to 'Back', survey_schemas_path %>
