/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 .user-row {
     margin-bottom: 14px;
 }

 .container{
   margin-top: 80px;
 }

 .user-row:last-child {
     margin-bottom: 0;
 }

.panel-heading {
      color: #f5f5f5 !important;
      background-color: #555 !important;
      border-color: #555 !important;
 }


 .contact-button{
   position: relative;
   float: right;
   margin-right: 30px;
 }

 .projects-index{
   text-align: center;
 }

 .project-square{
   background: white;
   text-align: center;
   color: inherit;
   text-decoration: none;
   border-radius: 30px 30px 30px 5px;
   display: inline-block;
   margin: 1rem;
   position: relative;
   width: 145px;
   height: 165px;
   overflow: scroll;
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 }

 .project-square:hover {
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }

 .project-square img{
     display: inline-block;
     width: 65%;
     height: 65%;
     margin: auto;
     margin-top: 5px;
   }

 #project-name{
   width: 90%;
   padding: 0px;
   margin: 10px;
 }



 .table-user-information > tbody > tr {
     border-top: 1px solid black;
 }

 .table-user-information > tbody > tr:first-child {
     border-top: 0;
 }


 .table-user-information > tbody > tr > td {
     border-top: 0;
 }
 .toppad
 {margin-top:20px;
 }

.radios {
	display: inline-flex;
	width: 100%;
}

.radios .selectWrapper {
 	flex: 1;
	padding: 1em;
}

.radios .selectWrapper .type_title {
	font-size: 14pt;
}

.categoryTitle {
	border: none;
	text-align: center;
	letter-spacing: 0.2em;
	font-size: 17pt;
	padding: 0;
	margin: 0px;
	font-weight: 500;
}

.cat0 {
	background-color: #9ed498;
}

.cat1 {
 	background-color: #f8f8b3;
}

.cat2 {
	background-color: #f8b5b3;
}
.cat3 {
  background-color: #DC143C;
}
.scaleWrap {
	width: 15em;
}

.scaleWrap .wrapper {
	display: inline-flex;
	width: 100%;
	position: relative;
}

.scaleWrap .wrapper .options {
	width: 60%;
	display: inline-flex;
}

.scaleWrap .wrapper .options .option {
	width: 2em;
	display: inline-block;
	text-align: center;
	margin-right: 1em;
}

.scaleWrap .wrapper .options .option .multipleChoise{
	margin: 0px;
	line-height: 100%;
	display: inline-flex;
	height: 2em;
	width: 2em;
}

.scaleWrap .wrapper .options .option .optionLabel{
	color: #2f2f2f;
	font-size: 12pt;
}


.backgroundLogin {
	background: #4f86b7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#4f86b7, #b3dafe); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4f86b7, #b3dafe); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4f86b7, #b3dafe); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4f86b7, #b3dafe); /* Standard syntax */
		position: absolute;
    height: auto !important;
    width: auto !important;
    min-height: 100%;
    min-width: 100%;

    margin-left: auto;
    margin-right: auto;

}

.login {
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 5em;
	border: solid 2px;
	border-radius: 6px;
	padding: 20px 30px 40px 30px;
	background-color: aliceblue;
}

.login .inputField, .actions {
	width: 100%;
	height: 3em;
	margin-top: 10px;
	margin-bottom: 10px;
}

.login .submit {
	margin-left: 15%;
	width: 70%;
	height: 2em;
	background-color: #3be649;
	border-radius: 6px;
	border: none;
	color: white;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 5px;
	border: solid 1px;
	border-color: #bcbaba;
}

.home {
	display: flex;
	margin: 25px;
}

.home a:hover{
	background: #f2f2f2;
	color: #f2f2f2;
	text-decoration: unset;
}
.action {
	width: 30%;
	margin: 5%;
	min-height: 20em;
	margin-top: 6em;
	text-align: center;
	border-radius: 42px;
	padding-top: 1em;

}

.action .teacher {
	background: url("/images/test.png");
	background-size: cover;
	width: 80%;
	height: 100%;
}

.action div {
	height: 4em;
	line-height: 4em;
	color: white;
	font-size: 18pt;
  margin: auto;

}

.action .question{
	background: url("/images/question2.png");
	background-size: cover;
	height: 100%;
}

.action .form{
	background: url("/images/folder.png");
	background-size: cover;
	width: 80%;
	height: 100%;
}
.action .new_user{
	background: url("/images/new-user.png");
	background-size: cover;
	height: 100%;
	margin-left: 10%;
}
.action .change_role{
	background: url("/images/switch-user.png");
	background-size: cover;
	width: 80%;
	height: 100%;
	margin-left: 10%;
}

.index {
	width: 95%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 1%;
	border: solid 2px;
	border-radius: 6px;
	padding: 20px 30px 40px 30px;
	background-color: #EAF0F0;
}
.backgroundindex {
	background: #F3F9FA; /* For browsers that do not support gradients */
	width: 100%;
	height: 100%;
	position: relative;

}
.header {

	margin-top: 1%;
	text-align: center;
	color: #FFFFFF;
}

.form1{
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 4%;
	margin-bottom: 4%;
	border: solid 2px;
	border-radius: 6px;
	padding: 20px 30px 40px 30px;
	background-color: #EAF0F0;
}
.form .body{
	width: 95%;
}

.question_title{

	text-align: center;
}


#table-wrapper {
  position:relative;
}

#table-scroll {
  height:20em;
  overflow:auto;
  margin-top:20px;
}
#table-edit-scroll{
	height:10em;
	overflow:auto;
	margin-top:5px;
}



html,body {
	padding:0;
	margin:0;
	height: 100%;
}

.wrap {
  font:12px Arial, san-serif;
}
h1.likert-header {
  padding-left:4.25%;
  margin:20px 0 0;
}
form .statement {
  display:block;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom:10px;
}
form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert:last-of-type {border-bottom:0;}
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;

}
form .likert li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
}
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}
form .buttons .clear {background-color: #e9e9e9;}
form .buttons .submit {background-color: #67ab49;}
form .buttons .clear:hover {background-color: #ccc;}
form .buttons .submit:hover {background-color: #14892c;}

.search_go{
	background-color: #359EEF;
  text-align: center;
	padding: 0px 0px;
  margin: 0px 0px 0px 0px;
	border-radius: 10px;
	color: #FFF;
	text-decoration: none;
}

 .input_search_for{
   width: 150px;
   height: 15px;
   padding: 12px 20px;
   margin: 0px 0;
   box-sizing: border-box;
   border: 2px solid grey;
   border-radius: 4px;
 }

.search-align	{
    position: relative;
    margin: 0;
    top: 2vh;
}
